@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 100px 100px 100px;
    margin-top: 0;
    z-index: 1;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 50px;
}

.backButton {
    background-color: white;
    color: var(--color1);
    border: none;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-family: var(--font-bricolage);
    color: var(--color3);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: lowercase;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--color1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.desc {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    font-size: 30px;
}

.vid {
    width: 250%;
    height: auto;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.images img {
    width: 70%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 830px) {

    .container {
        padding: 20px;
        padding-bottom: 80px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
        padding: 60px;
    }

    .title {
        font-size: 50px;
    }

    .desc {
        padding: 10px;
    }

    .vid {
        width: 130%;
        order: -1;
    }
}