@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 200px;
    margin-top: 0;
    z-index: 1;
    text-align: center;
}

.title {
    font-family: var(--font-bricolage);
    color: var(--color3);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: var(--color2); */
    border-radius: 50px;
    padding: 50px;
    /* border: 20px solid;
    border-color: var(--color4); */
    color: var(--color1);
}

.content h3 {
    font-family: var(--font-bricolage);
    color: var(--color2);
    font-size: 42px;
    /* padding-right: 100px;  */
}

.content p {
    font-size: 36px;
    /* padding-right: 100px; */
}

/* .aboutImg {
    width: 30%;
    background-color: var(--color2-1);
    border-radius: 500px;
} */

.aboutImg {
    width: 300px;
    height: 300px;
    background-color: var(--color2-1);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px 0px 25px;
}

.aboutImg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}