@import "../../vars.css";

.container {
    color: var(--color1);
    /* margin-top: 79px; */
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
}

.title {
    color: var(--color3);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: lowercase;
    margin-bottom: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 75px;
}

.history {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
    /* background: rgba(255, 255, 255, 0.5); */
    border-radius: 30px;
    padding: 50px;
    /* border: 5px solid;
    border-color: var(--color4); */
    background-color: var(--color1-1);
}

.historyItem img {
    width: 130px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 32px;
    font-weight: 500;
    color: var(--color2);
}

.historyItemDetails h4 {
    font-size: 26px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

.skillsTitle {
    color: var(--color2);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: lowercase;
    margin-bottom: 20px;
    text-align: center;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    /* border: 5px solid;
    border-color: var(--color4); */
    background-color: var(--color1-1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .history {
        width: 100%;
        gap: 15px;
    }


    .historyItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }

    /* .historyItem img {
        width: 130px;
    } */

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 17px;
    }
}